.container-chip {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  
    width: 130px;
    height: 40px;
  
    font-size: 17px;
  
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  
    cursor: pointer;
}

.plus-icon {
    width: 10px;
    height: 10px;
}

.x-icon {
    width: 15px;
    height: 15px;
}

.chip-selected {
    background: #7B61FF;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
  }